.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.textMain{
    color: #333;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: "Fugaz One", cursive; 
    font-size: 4rem;
}
.after{
    border-bottom: 2px solid #00bcd4;
    width: 10rem;
    display: block;
    margin-right: 2rem;
    margin-top: 2rem;
}
.before{
    border-bottom: 2px solid #00bcd4;
    width: 10rem;
    display: block;
    margin-left: 2rem;
    margin-top: 2rem;
}

@media (max-width: 780px){
    .textMain{
        font-size: 2rem;
    }
    .after{
        width: 5rem;
        margin-right: 1rem;
    }
    .before{
        width: 5rem;
        margin-left: 1rem;
    }
}